body {
    background-color: #D0D0D0;
    margin-bottom: 0;
}

nav {
    width: 99.1vw;
    background-color: #2F2C2C;
    height: 7%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
}

h1 {
    color: #E5F8FF;
    margin-right: 2%;
    font-family: "Fjalla One";
}

h2 {
    color: #D9593D;
    font-family: "Fjalla One";
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 15vh;
    left: 15%;
    width: 70vw;
    height: 100vh;
}

.project {
    width: 30%;
    height: 40%;
    border-radius: 100%;
    border: 8px solid #B9B9B9;
    transition: border .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.25rem 0.25rem 0.25rem hsla(0, 0%, 30%, 1);
}

.project:after {
    height:
}

.project:hover {
    border: 8px solid hsla(0, 0%, 30%, 1);
}

#coloradott {
    background-image: url(coloradott.png);
    background-color: white;
    background-size: 80% 30%;
    background-repeat: no-repeat;
    background-position: center;
}

#dodenver {
    position: relative;
    background-image: url(dodenver.png);
    background-size: 210% 130%;
    background-repeat: no-repeat;
    background-position: center;
}

#usatt {
    background-image: url(usatt.png);
    background-size: 70% 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3B5998;
}

.details {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #B9B9B9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a {
    padding: 5%;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    opacity: 1;
    border-radius: 2rem;
}

.details:hover {
    opacity: 0.6;
}


footer {
    position: relative;
    height: 30vh;
    width: 100.7vw;
    background-color: #2F2C2C;
    margin-top: 15vh;
    left: -2%;
    bottom: -2%;
}
